<!-- <p>third works!</p> -->
<!-- <div class="class"></div>
<div class="row">
    <div class="image">
        <img src="../../assets/image2.svg" alt="">
    </div>
    <div class="hello">
        <h1>Account Verified</h1>
           <p> You've successfully verified your Finex account Shashti@gmail.com</p>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row">
        <div class="col-6 image">
            <img src="../../assets/image2.svg" alt="">
        </div>
        <div class="col-6 hello">
            <h1>Account Verified</h1>
            <p> You've successfully verified your Finex <br>
                account Shashti@gmail.com</p>
                <button>Access Your Account</button>
        </div>
    </div>
</div>