<div class="container-fluid">
<div class="header">

  <div class="image">
    <img src="../../assets/img1.svg" alt="">
 </div>
 
 <div class="sign">
    <h1><b>Hello Welcome</b></h1>
    <p>Enter to digital learning</p>



    <div class="first">
      <label for="fname">Org name</label>
      <div>
        <input type="text" pInputText placeholder="name">
      </div>
    </div>


    <div>
      <label for="last">Email</label><br>
      <div>
        <input type="text" pInputText placeholder="Email"><br>
      </div>
    </div>


    <div>
      <label for="mobile">password</label><br>
      <div>
        <input type="text" pInputText placeholder="your password"><br>
      </div>
    </div>


    <div>
      <label for="mobile">Mobile number</label><br>
      <div>
        <input type="text" pInputText placeholder="Mobile Number"><br>
      </div>
    </div>

    <button>CREATE ACCOUNT</button><br>

    <p>Already Have an Account?<span><a href="https://www.w3schools.com/">Visit W3Schools.com!</a></span></p>



  </div>
</div>
</div>
