<div class="container-fluid">
  <div class="row">
    <div class="col-6 image">
      <img src="../../assets/image 3.svg" alt="">
    </div>


    <div class="col-6 hello">
      <h1>Forgot your password</h1>
      <p> Please enter the email address you'd like your <br>
        password reset information sent to</p>

      <div>
        <label for="last">Enter email Address</label><br>
        <div>
          <input type="text" pInputText placeholder="Email"><br>
        </div>
      </div>
<a routerLink="">back to login</a>





    </div>
  </div>


</div>
