<!-- <p>seventh works!</p> -->


<div class="container-fluid">
    <div class="header">
  
      <div class="image">
        <img src="../../assets/img1.svg" alt="">
      </div>
  
      <div class="sign">
        <div class="headers">
  
          <h1>Reset Your Password</h1>
          <p>to access Finice account</p>
  
        </div>
  
  
        
  
  
  
        <div>
          <label for="last">password</label><br>
          <div>
            <input type="text" pInputText placeholder="Email"><br>
          </div>
        </div>
  
  
        <div>
          <label for="mobile">conform password</label><br>
          <div>
            <input type="text" pInputText placeholder="your password"><br>
          </div>
        </div>
  
        <a href="link">Forget Password</a>
  
        <button>SING IN</button><br>
  <div class="link">
        <a href="link">sign up</a>
  </div>
  
  
      </div>
    </div>
  </div>
